@import "tailwindcss";

* {
  font-family: Arial, Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.style-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: transparent;
  z-index: 1;
  cursor: pointer;
}

.style-button:hover {
  background: linear-gradient(90deg, #44b3a9, #716fff, #da32d8, #fda54e);
}

.style-button:active {
  scale: 1.02;
}

.style-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 2px;
  border-radius: inherit;
  background: linear-gradient(90deg, #44b3a9, #716fff, #da32d8, #fda54e);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

/* Scrollbar for dashboard */

.dashboardContainer::-webkit-scrollbar,
.mobileMenuContainer::-webkit-scrollbar {
  width: 2px;
}

.dashboardContainer::-webkit-scrollbar-thumb,
.mobileMenuContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #888888, #555555);
  border-radius: 10px;
}

.dashboardContainer::-webkit-scrollbar-track,
.mobileMenuContainer::-webkit-scrollbar-track {
  background: th1;
  border-radius: 10px;
}

.dashboardContainer::-webkit-scrollbar-thumb:hover,
.mobileMenuContainer::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
